
header{
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url('../img/header1.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1{text-align: center;
    font-size: 8vmin;
    margin-top: 20px;
    color: #060441;
    font-weight: bold;
}
header h2{
    color: white;
}

h2{
    text-align: center;
    font-size: 6vmin;
    margin-top: 20px;
    color: #060441;
    font-weight: bold;
}
.container{
    display: flex;
    margin-top: 10px;  
}
.left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    width: 80%;
    height: 50vh;
    object-fit: cover;
    
    transition: none;
}
.img:hover{
    transform: none;
}
.container p{
    text-align: center;
    margin: 20px;
    font-size: 3vmin;
    
}

@media only screen and (max-width:850px){
    header{
        height: 50vh;
    }
    header h2{
        margin-bottom: 70px;
        
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 80%;
        height: 40vh;
    }
    .right{
        margin-top: 20px;
    }
}